[user]
    name = R. Stephens Summerlin
    email = Robert.Summerlin@gtri.gatech.edu
[core]
    editor = vim
    autocrlf = input
[merge]
    tool = vimdiff
[diff]
    #external = ~/.git-bins/git_diff_wrapper
    tool = vimdiff
[mergetool "extMerge"]
    trustExitCode = true
[alias]
    co = checkout
    br = branch
    ci = commit
    sb = show-branch
    st = status
    unstage = reset HEAD --
    last = log -1 HEAD
    full = log --pretty=oneline --graph --decorate
    alias = config --get-regexp ^alias\\.
    rinfo = remote show origin
    modup = submodule update --recursive
    rv = checkout --
    rbrinfo-merged = !~/.git-bins/rbrinfo-merged
    rbrinfo-not-merged = !~/.git-bins/rbrinfo-not-merged
    brinfo-merged = !~/.git-bins/brinfo-merged
    brinfo-not-merged = !~/.git-bins/brinfo-not-merged
    recent = "!r() { cur=$(git rev-parse --abbrev-ref HEAD); git for-each-ref --sort=-committerdate refs/heads/ --format='%(color:yellow)%(refname:short)|%(color:red)%(objectname:short)|%(color:bold green)%(committerdate:relative)|%(color:blue)%(subject)|%(color:magenta)%(authorname)%(color:reset)' | sed \"s/m${cur}|/m* ${cur}|/\" | column -ts'|'; }; r"
    rrecent = "!r() { cur=$(git rev-parse --abbrev-ref HEAD); git for-each-ref --sort=-committerdate refs/remotes/ --format='%(color:yellow)%(refname:short)|%(color:red)%(objectname:short)|%(color:bold green)%(committerdate:relative)|%(color:blue)%(subject)|%(color:magenta)%(authorname)%(color:reset)' | sed \"s/m${cur}|/m* ${cur}|/\" | column -ts'|'; }; r"
    arecent = "!r() { cur=$(git rev-parse --abbrev-ref HEAD); git for-each-ref --sort=-committerdate refs/remotes/ refs/heads/ --format='%(color:yellow)%(refname:short)|%(color:red)%(objectname:short)|%(color:bold green)%(committerdate:relative)|%(color:blue)%(subject)|%(color:magenta)%(authorname)%(color:reset)' | sed \"s/m${cur}|/m* ${cur}|/\" | column -ts'|'; }; r"
    d = difftool
    apply-gitignore = !git ls-files -ci --exclude-standard -z | xargs -0r git rm --cached
[push]
    default = simple
[difftool]
    prompt = false
